.container{ 
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 50vh;
    margin:0;
}
.child{
    background-color: black; 
    height: 100px;
    color: white;
}